.header {
    background-color: var(--colors-primary);
    width: 100%;
    height: 55px;
    padding-bottom: 6px;
    box-shadow: inset 0 -6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.purpetText {
    color: #fff;
    line-height: 49px;
    font-size: 40px;
    text-align: left;
    margin-left: 40px;
    font-family: "Titan One", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    background-color: var(--colors-primary);
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 320px;
    }
}

.containerHeader {
    text-align: center;
    font-size: 200px;
    margin: 0 20px;
    font-family: "Titan One", sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .containerHeader {
        font-size: 130px;
    }
}

.blookContainer {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 160px;
    margin: auto 10px;
}

@media only screen and (max-width: 600px) {
    .blookContainer {
        height: 100px;
    }
}

.blook {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.containerText {
    text-align: center;
    font-size: 24px;
    margin: 10px 30px 20px;
    font-family: "Nunito", sans-serif;
    color: #fff;
}

.goBack {
    position: absolute;
    left: 0;
    margin-top: 25px;
    margin-left: 25px;
    z-index: 10;
}

.button {
    position: relative;
    cursor: pointer;
    outline: none;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: filter .25s;
}

.buttonInside {
    height: 35px;
    font-size: 22px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1.5px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.edge,
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.shadow {
    background: rgba(0, 0, 0, .25);
    transform: translateY(2px);
    transition: transform .6s cubic-bezier(.3, .7, .4, 1);
}

.edge {
    filter: brightness(.7);
}

.front {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transform: translateY(-4px);
    transition: transform .6s cubic-bezier(.3, .7, .4, 1);
}

.button:hover {
    filter: brightness(110%)
}

.button:hover .front {
    transform: translateY(-6px);
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5)
}

.button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms
}

.button:hover .shadow {
    transform: translateY(4px);
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5)
}

.button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms
}